/*
Colors used:
Primary Color:  #181C45
button: #01A39D
linear-gradient color in front of the cover image: rgba(24, 28, 69, 0.5)

Font Color: #ffffff
Form Font Color/ unselected: #707070
font-family/ heading: font-family: 'Proza Libre', sans-serif
font-family/ body: 'Open Sans', sans-serif;
*/

/* Global Styles ============================ */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
html {
    font-size: 16px;
}
body {
    margin: 0;
    color: white;
    background:
    linear-gradient(
        rgba(24, 28, 69, 0.5),
        rgba(24, 28, 69, 0.5)
    ),
    url(https://images.unsplash.com/photo-1556134916-95c4869e1eaf?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=2681&q=80) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
}

/* to keep my background covering the entire page I used the first solution from this site
https://css-tricks.com/perfect-full-page-background-image/ */

/* Header  ==================================== */
header {
    margin: 0 15px;
    text-align: center;
}
h1 {
    font-family: 'Proza Libre', sans-serif;
    font-weight: 400;
    margin: 15px 0;
    font-size: 1.7rem;
}
header p {
    font-style: italic;
    font-size: 1rem;
    margin-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-bottom: 0;
}

/* Main ==================================== */
.form-section label {
    margin-bottom: 0.3rem;
}
.whole-form {
    background-color: #181C45;
    size: 30%;
    margin: 0 auto;
    width: 100%;
    font-style: normal;
    font-weight: 600;
    font-size: 1.1rem;
    padding-bottom: 1rem;
    margin-bottom:50px;
}
.form-section {
    margin: 1rem 15px;
    display: flex;
    flex-direction: column;
}
.form-section:nth-of-type(1) {
    padding-top: 1rem;
}
.form-section input[type="text"]::placeholder,
              input[type="email"]::placeholder,
              input[type="number"]::placeholder,
              input[type="dropdown"]::placeholder,
              textarea#suggestions,  
              select#favourite,
              select#dropdown {
                    font-size: 1rem;
                    font-family: inherit;
}



.form-section input[type="text"],
              input[type="email"],
              input[type="number"],
              input[type="textarea"] {
    width: 100%;
    height: 2rem;
    font-size: 1rem;
}

input#number {
    height: 2rem;
}

select#dropdown,
select#favourite {
    height: 2rem;
}


div#recommendation {
    font-size: 1rem;
    font-weight: 300;
    display: flex;
    flex-direction: column;
}
.checkboxes {
    font-size: 1rem;
    font-weight: 300;
}

select {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0;
    width: 100%;
    padding-left: 3px;
}

textarea::placeholder {
    color: #707070;
}

input::placeholder {
    color: #707070;
}

[disabled] {
    color: gray;
  }
  
  .grey {
      color: #707070;
  }

  .black {
      color: black;
  }

textarea {
    padding-left: 3px;
}



/* select::active {
    color: pink;
} */

/* input {
    -webkit-appearance: none;
    appearance: none;
} */

/* textarea {
    -webkit-appearance: none;
    appearance: none;
} */


/* Links and Buttons ============================ */
button {
    background-color: #01A39D;
    color: white;
    font-size: 1.1rem;
    text-transform: uppercase;
    border-radius: 200px;
    height: 2.25rem;
    width: 18rem;
    border: solid 1px #01A39D;
    margin: 20px auto 0;
    cursor: pointer;
}



/* Layout styling =====================================*/

/* Media Queries =====================================*/
@media only screen and (min-width: 640px){
    .form-section:nth-of-type(1) {
        padding-top: 0;
    }
    
    .name {
        width: 45%;
    }
    .age {
        width: 45%;

    }
    .name-age {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .name-age:nth-of-type(1) {
        margin-top: 1rem;
    }
    .whole-form {
        max-width: 1000px;
    }

}






