html {
    font-size: 16px;
}

body {
    margin: 0;
    color: white;
    background:
    linear-gradient(
        rgba(24, 28, 69, 0.5),
        rgba(24, 28, 69, 0.5)
    ),
    url(https://images.unsplash.com/photo-1556134916-95c4869e1eaf?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=2681&q=80);
    background-size: 100%;
    font-family: 'Open Sans', sans-serif;
}
header {
    margin: 0 15px;
}

h1 {
    font-family: 'Proza Libre', sans-serif;
    font-weight: 400;
    margin: 0.3rem 0;
    font-size: 1.7rem;
}

header p {
    font-style: italic;
    font-size: 1rem;
    margin-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-bottom: 0;
}

.form-section label {
    margin-bottom: 0.3rem;
}


.whole-form {
    background-color: #181C45;
    size: 30%;
    margin: 0 auto;
    width: 100%;
    font-size: 1.1rem;
}

.form-section {
    margin: 0.5rem 15px;
    display: flex;
    flex-direction: column;
}

.form-section:nth-of-type(1) {
    padding-top: 1rem;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    display: flex;

    letter-spacing: 0.15px;
}


/* body {
    background: center/100% no-repeat url(https://images.unsplash.com/photo-1556134916-95c4869e1eaf?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=2681&q=80);
    color: white;
} */